.App {
  text-align: center;
  margin-top: 50px;
}

input[type="file"] {
  margin: 20px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
