name: 'Terraform'

on:
   push:
     branches: [ "dev" ]  
   pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: demo

    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # Add a step to package the Lambda function
    - name: Package Lambda Function
      run: |
        cd ../lambda
        zip -r9 lambda_function_payload.zip lambda_function.py
        mv lambda_function_payload.zip ../terraform/
        cd ../terraform

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check
      continue-on-error: true

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -no-color -input=false -compact-warnings
      continue-on-error: true 

    - name: Terraform Apply
      if: github.event_name == 'push'
      run: terraform apply -auto-approve -input=false 

